---
layout: default
---

<p class="message">Please read and follow these <a href="{{ site.github.url }}/instructions">instructions</a> before coming to any of the workshops.</p>

<div class="posts">
  {% for post in site.posts reversed %}
      {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
      {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
      {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
      {% capture postday %}{{post.date | date: '%j'}}{% endcapture %}
      {% assign postday = postday | plus: 0 %}
      {% assign nowday = nowday | minus: 1 %}
      {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
      <article class="post">
      <h2>{{ post.title }}</h2>
      <ul>
        <li><strong>Details:</strong> {{ post.details }}</li>
        <li><strong>When:</strong> {{ post.date | date: "%B %d, %Y" }}, {{ post.time | date:"%I:%M %p" }} (may change)</li>
        <li><strong>Where:</strong> {{ post.location }}</li>
        {% if post.packages != nil %}<li><strong>Package(s) to install:</strong> <code>install.packages({{ post.packages }})</code></li>{% endif %}
        {% if post.layout == "post" %}<li><strong>Notes:</strong> Code and notes are <a href="{{site.github.url }}{{ post.url }}">online here.</a></li>{% endif %}
        {% if post.video != nil %}<li><strong>Video:</strong> Session was recorded and is <a href="{{ post.video }}">on YouTube.</a></li>{% endif %}
      </ul>
      </article>
      {% endif %}
  {% endfor %}
</div>
